<style>
  .flowchart-img {
    width: 700px; /* กำหนดความกว้างเป็น 50% ของ container */
    height: auto; /* รักษาอัตราส่วนของรูปภาพ */
  }
</style>
<div class="container-fluid mt-4" style="height: 100%;">               
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1>ผังการดำเนินงาน</h1>
    </div>
    <div class="justify-content-center align-items-center">
        <div class="text-center mb-2">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-1.png" alt="Flowchart" class="img-fluid flowchart-img">
        </div>
        <div class="text-center mb-2">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-2.png" alt="Flowchart" class="img-fluid flowchart-img">
        </div>
        <div class="text-center mb-4">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-3.png" alt="Flowchart" class="img-fluid flowchart-img">
        </div>
    </div>
</div>