<div class="container-fluid mt-4" style="height: 85vh;">               
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1>ผังการดำเนินงาน</h1>
    </div>
    <div class="justify-content-center">
        <div class="text-center mb-2">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-1.png" alt="Flowchart" class="img-fluid">
        </div>
        <div class="text-center mb-2">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-2.png" alt="Flowchart" class="img-fluid">
        </div>
        <div class="text-center mb-4">
            <img src="/img/แผนภูมิขั้นตอนการจัดทำปริญญานิพนธ์-3.png" alt="Flowchart" class="img-fluid">
        </div>
    </div>
</div>