<aside class="sidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <img class="sidebar-icon" src="/img/LOGO-KMUTNB--300x300.png">
            </div>
            <div class="sidebar-brand-text mx-3">KMUTNB Project</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item <%= currentPath === '/chat' ? 'active' : '' %>">
            <a class="nav-link" href="/chat">
                <i class="fas fa-comments"></i>
                <span>แชท</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item <%= currentPath.startsWith('/upload') || currentPath === '/file' ? 'active' : '' %>">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFile"
                aria-expanded="true" aria-controls="collapseFile">
                <i class="fas fa-regular fa-file"></i>
                <span>ไฟล์</span>
            </a>
            <div id="collapseFile" class="collapse" aria-labelledby="headingFile" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/file">ไฟล์ที่เก็บไว้</a>
                    <a class="collapse-item" href="/upload">ไฟล์ที่ต้องการอัปโหลด</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item <%= currentPath === '/status' ? 'active' : '' %>">
            <a class="nav-link" href="/status">
                <i class="fas fa-fw fa-table"></i>
                <span>สถานะปริญญานิพนธ์</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item <%= currentPath === '/flowchart' ? 'active' : '' %>">
            <a class="nav-link" href="/flowchart">
                <i class="fas fa-project-diagram"></i>
                <span>ผังการดำเนินงาน</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->
</aside>